# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env
API_REPORT.md
content_data.json
interests_data.json
test_full_journey.py

# Node / React
node_modules/
npm-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
